<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button expand="full">
    <ion-icon lazy="true" slot="start" name="image"></ion-icon>
    <ion-label slot="end">Upload Image</ion-label>
    <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
      accept="image/png, image/jpeg">


  </ion-button>
  <!--SHOW THE IMAGES-->
  <ion-label *ngIf="showText"> Show Image file </ion-label>
  <ion-img [src]="preview" class="imgsize"></ion-img>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
