<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- title full img -->
 <div class="row">
    <div class="container">
      <img src="assets/brooke-lark-pGM4sjt_BdQ-unsplash.jpg">
       <div class="content">
        <h1>Cake </h1>
        <p>Teal color page ..</p>
      </div>
    </div>

<!-- left and right img and text -->
<div class="pages">
  <img class ="imgborder-radius " src="assets/gr-stocks-3BxGhdf-52I-unsplash.jpg" alt="" width="300" height="600">
   <div class="large-text">

    <h2> 好吃的小蛋糕</h2>
    <h5> 練習版型中</h5>
    <h5> 練習 css </h5>

   </div>
    
      
 
</div>

<div class="pages">
  <div class="large-text">
    <h2> 好吃的小蛋糕</h2>
    <h5> 練習版型中</h5>
    <h5> 練習 css </h5>
   
  </div>
  <img class ="imgborder-radius2" src="assets/sara-cervera-zEwgRzJJIvk-unsplash.jpg" alt="" width="300" height="600" >
</div>
   
       
    
</div>

  <img src="assets/vy-huynh-8yuLwtkpB3w-unsplash.jpg" class="rounded-circle" alt=""  >
  <div>
    <h3> It's will be change color and text on the page </h3>
  </div>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>





